.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
}

.main {
    margin: auto;
    justify-content: center;
    align-items: center;
}

.footer {
    color: black;
}
