.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
}

.main {
    display: flex;
    flex-direction: column;
    margin: 0px;
    justify-content: center;
    align-items: center;
}

.pictle {
    display: flex;
    /* margin: 0 auto; */
    width: 100%;
    height: 600px;
    color: rgb(255, 255, 255);
    background: url('../public/picture/top_view-desktop.jpg') top / cover;
}

.pictle h1 {
    margin: auto;
    width: 80%;
    font-size: 100px;
    text-align: center;
    animation: appearText 1.6s ease-in-out;
}

.prestaWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    margin: 50px;
}

.prestaTitles {
    margin: auto;
    text-align: center;
}

.prestaTitles h2 {
    font-size: 26px;
    text-decoration: underline red 3px;
}

.prestaTitles p {
    color: gray;
    font-weight: bold;
    font-size: 25px;
}

.presta {
    display: flex;
}

.stepsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1200px;
    width: 100vw;
    background: center / cover url('../public/picture/laptop-dark.jpg');
    background-attachment: fixed;
}

.stepOne {
    width: 100vw;
    height: 400px;
    background: center / cover url('../public/picture/wireframe.jpg');
}

.stepOne p {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    width: 60%;
    margin: 8% auto;
    color: aliceblue;
}

.emptyness {
    height: 400px;
}

.emptyness p {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    width: 60%;
    margin: 10% auto;
    color: aliceblue;
}

.stepThree {
    width: 100vw;
    height: 400px;
    background: center / cover url('../public/picture/explanation.jpg');
}

.stepThree p {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    width: 60%;
    margin: 10% auto;
    color: aliceblue;
}

.footer {
    color: black;
}

@keyframes appearText {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
