.main {
    display: flex;
    flex-direction: column;
    margin: 0px;
    justify-content: center;
    align-items: center;
}

.mainActivity {
    display: flex;
    height: 500px;
    width: 100%;
    background: bottom / cover url('../public/picture/life-begin.jpg');
}

.technos {
    width: 100vw;
    height: 600px;
    margin: 0px;
}
.blur {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 100px;
}

.blur h3 {
    color: rgb(51, 51, 51);
    font-size: 30px;
    margin: 0;

    text-align: center;
}

.techBubbles {
    display: flex;
}
